SU57Robot/configithub
SU57Robot/*.session
SU57Robot/*.session-journa
SU57Robot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SU57/modules/helper_funcs/temp.txt
SU57Robot/elevated_users.json
start-3.10.1.bat
*.session
kangsticker.png
venv
env
Natsunagi.session-journal
updates.txt
*.exe
