Hottie_Robot/config.py
Hottie_Robot/*.session
Hottie_Robot/*.session-journa
Hottie_Robot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Hottie_Robot/modules/helper_funcs/temp.txt
Hottie_Robot/elevated_users.json
start-3.10.1.bat
*.session
kangsticker.png
venv
env
Natsunagi.session-journal
updates.txt
*.exe
